In [ ]:
"""

3.17 (Nested Loops)  Write a script that displays the following triangle patterns separately, one below the other. 
Separate each pattern from the next by one blank line. Use for loops to generate the patterns. Display all asterisks ( *) 
with a single statement of the form
print('*', end='')
which causes the asterisks to display side by side. [Hint: For the last two patterns, begin each line with zero or more 
space characters.]

(a)         (b)          (c)                (d)
*           **********  **********           *
**          *********    *********          **
***         ********      ********         ***
****        *******        *******        ****

"""

In [32]:
print('(a)')

for i in range(1, 5):
    for j in range(i):
        print('*', end='')
    print()

print(f'\n(b)')

for i in range(1, 5):
    for j in range(0 , 11 - i):
        print('*', end='')
    print()

print(f'\n(c)')

for i in range(1, 5):
    for j in range(i - 1):
        print(' ', end='')
    for k in range(0 , 11 - i):
        print('*', end='')
    print()

print(f'\n(d)')

for i in range(1, 5):
    for j in range (5 - i):
        print(' ', end='')
    
    for j in range(i):
        print('*', end='')
    print()

(a)
*
**
***
****

(b)
**********
*********
********
*******

(c)
**********
 *********
  ********
   *******

(d)
    *
   **
  ***
 ****