In [ ]:
"""

6.4 (Fill in the Missing Code) In each of the following expressions, replace the ***s with a set operator that produces the 
result shown in the comment. The last operation should check whether the left operand is an improper subset of the right 
operand. For each of the first four expressions, specify the name of the set operation that produces the spec- ified result.

a) {1, 2, 4, 8, 16} *** {1, 4, 16, 64, 256} # {1,2,4,8,16,64,256} 
b) {1, 2, 4, 8, 16} *** {1, 4, 16, 64, 256} # {1,4,16} 
c){1,2,4,8,16}***{1,4,16,64,256} #{2,8}
d) {1, 2, 4, 8, 16} *** {1, 4, 16, 64, 256} # {2,8,64,256} 
e){1,2,4,8,16}***{1,4,16,64,256} #False

"""

In [1]:
# a) union
{1, 2, 4, 8, 16} | {1, 4, 16, 64, 256} # {1,2,4,8,16,64,256}

{1, 2, 4, 8, 16, 64, 256}

In [2]:
# b) intersection
{1, 2, 4, 8, 16} & {1, 4, 16, 64, 256} # {1,4,16}

{1, 4, 16}

In [3]:
# c) difference
{1,2,4,8,16} - {1,4,16,64,256} #{2,8}

{2, 8}

In [4]:
# d) symmetric difference
{1, 2, 4, 8, 16} ^ {1, 4, 16, 64, 256} # {2,8,64,256}

{2, 8, 64, 256}

In [6]:
# e) improper subset
{1,2,4,8,16} <= {1,4,16,64,256} #False

False