In [ ]:
"""

5.1 (Whatâ€™s Wrong with This Code?) What, if anything, is wrong with each of the following code segments?

"""

In [ ]:
"""

day, high_temperature = ('Monday', 87, 65)

"""

# tuple have 3 items but this statement is trying to slice items from tuple but it is providing only
# two variables however there are three values to it will produce "ValueError"

In [ ]:
"""

numbers = [1, 2, 3, 4, 5]
numbers[10]

"""

# numbers list have only 5 values so its starting index will be 0 and last index will be 4.
# the numbers[10] is trying to access element at index 10 which does not exist so it will produce "IndexError"

In [ ]:
"""

name = 'amanda'
name[0] = 'A'

"""

# name[0] is trying to slice element at 0th index but it only works with mutable collections i.e list

In [ ]:
"""

numbers = [1, 2, 3, 4, 5]
numbers[3.4]

"""

# index values are integer numbers but numbers[3.4] is trying to access an element using float index
# it will produce "TypeError"

In [ ]:
"""

student_tuple = ('Amanda', 'Blue', [98, 75, 87])
student_tuple[0] = 'Ariana'

"""

# we need to provide same numbers of variables as the tuple's length to slice tuple's elements
# student_tuple[0] would world if it was a list but it will produce "ValueError"

In [ ]:
"""

('Monday', 87, 65) + 'Tuesday'

"""

# Only collections of same types are concatenated for example list + list, tuple + tuple, string + string
# concatenating different types of collections would produce "TypeError"

In [ ]:
"""

'A' += ('B', 'C')

"""

# First error is that it is trying to assing a concatenation of string and tuple to a string not a variable but if 'A' was 
# variable this statement would produce "TypeError" as it is trying to += augumented assignment to concatenate string 
# with tuple. It would only work if both left and right sides are a collection for example list += list or tuple += tuple or
# sring += string.

In [ ]:
"""

x = 7
del x
print(x)

"""

# This statement will produce "NameError" becuase del x delete the variable x so print x would lead to "NameError"

In [ ]:
"""

numbers = [1, 2, 3, 4, 5]
numbers.index(10)

"""

# searching a value in list will produce "ValueError" if that value does't exist in the list

In [ ]:
"""

numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)

"""

# extend method would work if a collection was passed as an argument. but 6, 7, 8 are three seperate values.
# it will lead to "TypeError"

In [ ]:
"""

numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

"""

# remove method will remove first occurence of value passed as argument. But it will lead to "ValueError" if 
# passed value does't exist in the list

In [ ]:
"""

values = []
values.pop()

"""
# it is trying to pop element from an empty list. It will lead to a "IndexError"