In [ ]:
"""

5.4 (Iteration Order) Create a 2-by-3 list, then use a nested loop to:

a. Set each elementâ€™s value to an integer indicating the order in which it was processed by the nested loop.
b. Display the elements in tabular format. Use the column indices as headings across the top, and the row indices 
to the left of each row.


"""

In [6]:
list1 = [[0, 0, 0], 
        [0, 0, 0]]

In [20]:
# a
count = 0

for r_idx, row in enumerate(list1):
    for c_idx, col in enumerate(row):
        count += 1
        list1[r_idx][c_idx] = count
    print()

list1

[[1, 2, 3], [4, 5, 6]]

In [25]:
# b

print(' ', 0, 1, 2)
for r_idx, row in enumerate(list1):
    print(r_idx, end=' ')
    for col in row:
        print(col, end=' ')
    print()

  0 1 2
0 1 2 3
1 4 5 6