In [ ]:
"""

5.6 (Functions Returning Tuples) Define a function rotate that receives three arguments and returns a tuple in 
which the first argument is at index 1, the second argument is at index 2 and the third argument is at index 0. 
Define variables a, b and c containing 'Doug', 22 and 1984. Then call the function three times. For each call, 
unpack its result into a, b and c, then display their values.

"""

In [1]:
def rotate(val1, val2, val3):
    """returns tuple of parameters"""
    return (val3, val1, val2)

In [2]:
a = 'Doug'

In [3]:
b = 22

In [4]:
c = 1984

In [5]:
a, b, c = rotate(a, b, c)

In [6]:
print(f'First call result: {a} {b} {c}')

First call result: 1984 Doug 22

In [7]:
a, b, c = rotate(a, b, c)

In [8]:
print(f'Second call result: {a} {b} {c}')

Second call result: 22 1984 Doug

In [9]:
a, b, c = rotate(a, b, c)

In [10]:
print(f'Third call result: {a} {b} {c}')

Third call result: Doug 22 1984