"""

2.10 (Arithmetic, Smallest and Largest) Write a script that inputs three integers from the user. Display the sum, 
average, product, smallest and largest of the numbers. Note that each of these is a reduction in functional-style 
programming.

"""

In [1]:
val1 = int(input('Enter first value: '))

Enter first value:  85

In [2]:
val2 = int(input('Enter second value: '))

Enter second value:  545

In [3]:
val3 = int(input('Enter third value: '))

Enter third value:  4545

In [11]:
sum_val = val1 + val2 + val3

In [12]:
average = sum_val / 3

In [13]:
product = val1 * val2 * val3

In [14]:
smallest = min(val1, val2, val3)

In [30]:
largest = max(val1, val2, val3)

In [16]:
print('Sum of', val1, val2, val3, 'is', sum_val)

Sum of 85 545 4545 is 5175

In [17]:
print('Average of', val1, val2, val3, 'is', average)

Average of 85 545 4545 is 1725.0

In [18]:
print('Product of', val1, val2, val3, 'is', product)

Product of 85 545 4545 is 210547125

In [19]:
print('Smallest of', val1, val2, val3, 'is', smallest)

Smallest of 85 545 4545 is 85

In [31]:
print('Largest of', val1, val2, val3, 'is', largest)

Largest of 85 545 4545 is 4545