In [73]:
"""

2.15 (Sort in Ascending Order) Write a script that inputs three different floating-point numbers from the user. 
Display the numbers in increasing order. Recall that an if statement’s suite can contain more than one statement. 
Prove that your script works by running it on all six possible orderings of the numbers. Does your script work with 
duplicate numbers? [This is challenging. In later chapters you’ll do this more conveniently and with many more numbers.]

"""
5545.98, 955.74, 54456.54
5545.98, 54456.54, 955.74
955.74, 5545.98, 54456.54
955.74, 54456.54, 5545.98
54456.54, 5545.98, 955.74
54456.54, 955.74, 5545.98

(54456.54, 955.74, 5545.98)

In [74]:
n1 = float(input('Enter first number: '))

Enter first number:  54456.54

In [75]:
n2 = float(input('Enter second number: '))

Enter second number:  955.74

In [76]:
n3 = float(input('Enter third number: '))

Enter third number:  5545.98

In [77]:
print('Given nubmers are',n1,n2,n3)

Given nubmers are 54456.54 955.74 5545.98

In [78]:
if n1 <= n2 <= n3:
    print('Sorted order is:', n1, ',', n2, ',', n3)

In [79]:
if n2 <= n1 <= n3:
    print('Sorted order is:', n2, ',', n1, ',', n3)

In [80]:
if n3 <= n1 <= n2:
    print('Sorted order is:', n3, ',', n1, ',', n2)

In [81]:
if n3 <= n2 <= n1:
    print('Sorted order is:', n3, ',', n2, ',', n1)

In [82]:
if n2 <= n3 <= n1:
    print('Sorted order is:', n2, ',', n3, ',', n1)

Sorted order is: 955.74 , 5545.98 , 54456.54

In [83]:
if n1 <= n3 <= n2:
    print('Sorted order is:', n1, ',', n3, ',', n2)