In [ ]:
"""

2.9 (Integer Value of a Character) Here’s a peek ahead. In this chapter, you learned about strings. Each of a string’s 
characters has an integer representation. The set of characters a computer uses together with the characters’ integer
representations is called that computer’s character set. You can indicate a character value in a program by enclosing 
that character in quotes, as in 'A'. To determine a character’s integer value, call the built-in function ord:

In [1]: ord('A')
Out[1]: 65”

Display the integer equivalents of B C D b c d 0 1 2 $ * +  and the space character.

"""

In [1]:
print('Integer value of B is:', ord('A'))

Integer value of B is: 65

In [3]:
print('Integer value of C is:', ord('C'))

Integer value of C is: 67

In [4]:
print('Integer value of D is:', ord('D'))

Integer value of D is: 68

In [5]:
print('Integer value of b is:', ord('b'))

Integer value of b is: 98

In [6]:
print('Integer value of c is:', ord('c'))

Integer value of c is: 99

In [8]:
print('Integer value of d is:', ord('d'))

Integer value of d is: 100

In [9]:
print('Integer value of 0 is:', ord('0'))

Integer value of 0 is: 48

In [10]:
print('Integer value of 1 is:', ord('1'))

Integer value of 1 is: 49

In [11]:
print('Integer value of 2 is:', ord('2'))

Integer value of 2 is: 50

In [12]:
print('Integer value of $ is:', ord('$'))

Integer value of $ is: 36

In [13]:
print('Integer value of * is:', ord('*'))

Integer value of * is: 42

In [7]:
print('Integer value of + is:', ord('+'))

Integer value of + is: 43