In [ ]:
"""

8.20 (Regular Expressions: Munging Dates) Dates are stored and displayed in several common formats. Three common formats are
       042555
       04/25/1955
       April 25, 1955
Use regular expressions to search a string containing dates, find substrings that match these formats and munge them into 
the other formats. The original string should have one date in each format, so there will be a total of six transformations.

"""

In [1]:
import re
dates = []

In [2]:
string = """This is a string that contains date in three formats 1 of them is 042555 and the other one is 04/25/1955 and
the last one is April 25, 1955.
"""

In [32]:
months_dictionary = {
    1: 'January',
    2: 'February',
    3: 'March',
    4: 'April',
    5: 'May',
    6: 'June',
    7: 'July',
    8: 'August',
    9: 'September',
    10: 'October',
    11: 'November',
    12: 'December',
}

In [33]:
def get_short_date(month, date, year):
    """it returns short date"""
    return month + date + year

In [45]:
def get_english_date(month, date, year):
    """it returns english date"""
    return month + ' ' + date + ', ' + '19' + year

In [54]:
def get_slashed_date(month, date, year):
    """it returns slashed date"""
    return month + '/' + date + '/' + '19' + year

In [57]:
# converting 042555
result = re.findall(r'(\d{2})(\d{2})(\d{2})', string)
if result:
    date = get_slashed_date(result[0][0], result[0][1], result[0][2])
    print(date)

    month = months_dictionary[int(result[0][0])]
    date = get_english_date(month, result[0][1], result[0][2])
    print(date)

04/25/1955
April 25, 1955

In [48]:
# converting 04/25/1955
result = re.findall(r'(\d{2})/(\d{2})/(\d{4})', string)
if result:
    date = get_short_date(result[0][0], result[0][1], result[0][2][2:])
    print(date)
    
    month = months_dictionary[int(result[0][0])]
    date = get_english_date(month, result[0][1], result[0][2])
    print(date)

042555
April 25, 191955

In [60]:
# converting April 25, 1955
result = re.findall(r'(\w+) (\d{2}), (\d{4})', string)
if result:
    months_val = list(months_dictionary.values())
    month_index = months_val.index(result[0][0]) + 1
    month = f'{month_index:02}'

    date = get_short_date(month, result[0][1], result[0][2][2:])
    print(date)

    date = get_slashed_date(month, result[0][1], result[0][2][2:])
    print(date)

042555
04/25/1955