In [ ]:
"""

8.9 (Creating Three-Letter Strings from a Five-Letter Word) Write a script that reads a five-letter word from the user and 
produces every possible three-letter string, based on the word’s letters. For example, the three-letter words produced from 
the word “bathe” include “ate,” “bat,” “bet,” “tab,” “hat,” “the” and “tea.” Challenge: Investigate the functions from the 
itertools module, then use an appropriate function to automate this task.

"""

In [36]:
while True:
    user_in = input('Enter a five-letter word: ')
    if len(user_in) == 5:
        break
    else:
        print('Invalid input. The word must be of five-letters')

Enter a five-letter word:  os

Invalid input. The word must be of five-letters

Enter a five-letter word:  osman

In [37]:
counter = 1
for i in user_in:
    for j in user_in:
        if i == j:
            continue
        for k in user_in:
            if k == j or k == i:
                continue
            print(f'{counter}\t {i + j + k}')
            counter += 1

1	 osm
2	 osa
3	 osn
4	 oms
5	 oma
6	 omn
7	 oas
8	 oam
9	 oan
10	 ons
11	 onm
12	 ona
13	 som
14	 soa
15	 son
16	 smo
17	 sma
18	 smn
19	 sao
20	 sam
21	 san
22	 sno
23	 snm
24	 sna
25	 mos
26	 moa
27	 mon
28	 mso
29	 msa
30	 msn
31	 mao
32	 mas
33	 man
34	 mno
35	 mns
36	 mna
37	 aos
38	 aom
39	 aon
40	 aso
41	 asm
42	 asn
43	 amo
44	 ams
45	 amn
46	 ano
47	 ans
48	 anm
49	 nos
50	 nom
51	 noa
52	 nso
53	 nsm
54	 nsa
55	 nmo
56	 nms
57	 nma
58	 nao
59	 nas
60	 nam

In [38]:
import itertools

In [39]:
l = itertools.permutations(user_in, 3)

In [40]:
for index, value in enumerate(l):
    print(f'{index + 1}\t{''.join(value)}')

1	osm
2	osa
3	osn
4	oms
5	oma
6	omn
7	oas
8	oam
9	oan
10	ons
11	onm
12	ona
13	som
14	soa
15	son
16	smo
17	sma
18	smn
19	sao
20	sam
21	san
22	sno
23	snm
24	sna
25	mos
26	moa
27	mon
28	mso
29	msa
30	msn
31	mao
32	mas
33	man
34	mno
35	mns
36	mna
37	aos
38	aom
39	aon
40	aso
41	asm
42	asn
43	amo
44	ams
45	amn
46	ano
47	ans
48	anm
49	nos
50	nom
51	noa
52	nso
53	nsm
54	nsa
55	nmo
56	nms
57	nma
58	nao
59	nas
60	nam