In [74]:
"""

3.8 (Arithmetic, Smallest and Largest)  In Exercise 2.10, you wrote a script that input three integers, then displayed 
the sum, average, product, smallest and largest of those values. Reimplement your script with a loop that inputs four 
integers.

"""

'\n\n3.8 (Arithmetic, Smallest and Largest)  In Exercise 2.10, you wrote a script that input three integers, then displayed \nthe sum, average, product, smallest and largest of those values. Reimplement your script with a loop that inputs four \nintegers.\n\n\n\n'

In [75]:
sum_val = 0

In [76]:
average = 0

In [77]:
product = 1

In [78]:
smallest = 0

In [79]:
largest = 0

In [80]:
counter = 0

In [81]:
for i in range(4):
    val = int(input(f'Enter value {i + 1}: '))
    sum_val += val
    product *= val
    
    if smallest == 0:
        smallest = val

    if largest == 0:
        largest = val
        
    smallest = min(smallest, val)
    largest = max(largest, val)
    counter += 1

Enter value 1:  4
Enter value 2:  2
Enter value 3:  3
Enter value 4:  1

In [82]:
average = sum_val / counter

In [83]:
print('Sum is', sum_val)

Sum is 10

In [84]:
print('Average is', average)

Average is 2.5

In [85]:
print('Product is', product)

Product is 24

In [86]:
print('Smallest is', smallest)

Smallest is 1

In [87]:
print('largest is', largest)

largest is 4