In [ ]:
"""

7.22 (Pandas: Series) Perform the following tasks with pandas Series: 

a) Create a Series from the list [7, 11, 13, 17].
b) Create a Series with five elements that are all 100.0.
c) Create a Series with 20 elements that are all random numbers in the range 0 to 100. Use method describe to produce the 
Series’ basic descriptive statistics.
d) Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and 97.9. Using the index keyword 
argument, specify the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.
e) Form a dictionary from the names and values in Part(d),then use it to initialize a Series.

"""

In [10]:
import numpy as np
import pandas as pd
import random

In [2]:
# Create a Series from the list [7, 11, 13, 17].
series = pd.Series([7, 11, 13, 17])
series

0     7
1    11
2    13
3    17
dtype: int64

In [4]:
# Create a Series with five elements that are all 100.0.
series1 = pd.Series(100.0 , range(5))
series1

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

In [36]:
# c) Create a Series with 20 elements that are all random numbers in the range 0 to 100. Use method describe to produce the 
# Series’ basic descriptive statistics.

series2 = pd.Series(np.random.randint(0, 100, 20))
print(series2)
series2.describe()

0      4
1     85
2     24
3     29
4      7
5     12
6     15
7     37
8     29
9     18
10    41
11    72
12    42
13    38
14    22
15    62
16    61
17    92
18    15
19    95
dtype: int64

count    20.000000
mean     40.000000
std      28.512232
min       4.000000
25%      17.250000
50%      33.000000
75%      61.250000
max      95.000000
dtype: float64

In [38]:
# d) Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and 97.9. Using the index keyword 
# argument, specify the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.
series3 = pd.Series([98.6, 98.9, 100.2, 97.9], index=['Julie', 'Charlie', 'Sam', 'Andrea'])
series3

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

In [39]:
# Form a dictionary from the names and values in Part(d),then use it to initialize a Series.
dictionary = {
    'Julie': 98.6,
    'Charlie': 98.9,
    'Sam': 100.2,
    'Andrea': 97.9
}
series4 = pd.Series(dictionary)
series4

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64