In [ ]:
"""

7.8 (Challenge Project: Reimplement DataFrame Output) You saw that pandas displays DataFrames in an attractive column-based 
format with row and column labels. The values within each column are right aligned in the same field width, which is 
determined by that columnâ€™s widest value. To understand how powerful it is to have this formatting built-in, write a 
function that reimplements DataFrame formatting using loops. Assume the DataFrame contains only positive integer values 
and that both the row and column labels are each integer values beginning at 0.

"""

In [1]:
import pandas as pd

In [113]:
def get_character_lenght(number):
    """convert number into string and return character length of that number"""
    return len(f'{number}')

In [329]:
def data_frame_formatting(dt):
    """reimplement pandas's output function using loops to understand built-in output function"""

    rows, columns = dt.shape

    row_index_width = len(f'{rows - 1}')

    # get max widths of columns
    column_widths = []
    for col in range(columns):
        max_number = dt.iloc[:,[col]].max()
        width = get_character_lenght(max_number.iloc[0])
        column_widths += [width + 2]
        
    print(f'{' ':>{row_index_width}}', end=' ')

    # print columns heading
    for col in range(columns):
        w = column_widths[col]
        print(f'{col:>{w}}', end='')
    
    # print dataframe
    for row in range(rows):
        print(f'\n{row:>{row_index_width}}', end=' ')
        
        for col in range(columns):
            w = column_widths[col]
            print(f'{dt.iloc[row, col]:>{w}}', end='')

In [330]:
data_frame_formatting(data_frame)

      0     1      2       3
0    10    20     30      40
1   400  5000  60000  700000
2   400  5000  60000  700000

In [323]:
data_frame = pd.DataFrame([[10, 20, 30, 40],[400, 5000, 60000, 700000], [400, 5000, 60000, 700000]])

In [324]:
data_frame

     0     1      2       3
0   10    20     30      40
1  400  5000  60000  700000
2  400  5000  60000  700000