In [ ]:
"""

7.9 (Indexing and Slicing arrays) Create an array containing the values 1–15, reshape it into a 3-by-5 array, then use 
indexing and slicing techniques to perform each of the following operations:
a) Select row 2.
b) Select column 5.
c) Select rows 0 and 1.
d) Select columns 2–4.
e) Select the element that is in row 1 and column 4.
f) Select all elements from rows 1 and 2 that are in columns 0, 2 and 4.

"""

In [1]:
import numpy as np

In [2]:
arr = np.arange(1, 16).reshape(3, 5)

In [3]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [20]:
# a) Select row 2.
arr[[2], : ]

array([[11, 12, 13, 14, 15]])

In [22]:
# b) Select column 5.
arr[:, [4]]

array([[ 5],
       [10],
       [15]])

In [8]:
# c) Select rows 0 and 1.
arr[[0, 1], : ]

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [19]:
# d) Select columns 2–4.
arr[:, 2:5]

array([[ 3,  4,  5],
       [ 8,  9, 10],
       [13, 14, 15]])

In [23]:
# e) Select the element that is in row 1 and column 4.
arr[1, 4]

np.int64(10)

In [18]:
# f) Select all elements from rows 1 and 2 that are in columns 0, 2 and 4.
arr[1:3 , [0, 2, 4]]

array([[ 6,  8, 10],
       [11, 13, 15]])