In [1]:
"""

9.15 (Project: Working with CSV Datasets Using the csv Module) In the Intro to Data Science section, we loaded the Titanic disaster dataset into a pandas DataFrame, then used DataFrame capabilities to 
perform some simple analysis of that data. For this exercise, use the csv module to read the Titanic disaster dataset, then manually count the records that contain a value for the age column. Those that 
do not will have the value 'NA'. For only those records that have an age value, calculate the average age. For this exercise, investigate and use the csv module’s DictReader class.

"""

"\n\n9.15 (Project: Working with CSV Datasets Using the csv Module) In the Intro to Data Science section, we loaded the Titanic disaster dataset into a pandas DataFrame, then used DataFrame capabilities to \nperform some simple analysis of that data. For this exercise, use the csv module to read the Titanic disaster dataset, then manually count the records that contain a value for the age column. Those that \ndo not will have the value 'NA'. For only those records that have an age value, calculate the average age. For this exercise, investigate and use the csv module’s DictReader class.\n\n"

In [2]:
import csv

In [3]:
with open('TitanicSurvival.csv', 'r', newline='') as titanic:
    data = csv.DictReader(titanic)
    total_count = 0
    ages = []
    for d in data:
        if d['age'] != '':
           ages += [float(d['age'])]
        total_count += 1

In [4]:
try:
    ages_sum = sum(ages)
    ages_count = len(ages)
    average_age = ages_sum / ages_count
    print(f'The average age was {average_age:.2f}')
    print(f'Records with age data: {ages_count}')
    print(f'Total records processed: {total_count}')
    print(f'Records missing age: {total_count - ages_count}')
except ZeroDivisionError:
    print('No data to calculate average ages.')

The average age was 29.88
Records with age data: 1046
Total records processed: 1309
Records missing age: 263